#search-page {
    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #FAD585;
    display: grid;
    place-items: center;
    z-index: 10000;
}

.main-container {
    display: grid;
    place-items: center;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 0px;
    /* max-width: 650px; */
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    /* padding-right: 10rem; */
    position: absolute;
    /* right: 1.5rem; */
    z-index: 100;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    /* text-align: right; */
    pointer-events: none;
    color: #aaa;
    /* background-color: red; */
    cursor: pointer;
}

/* .form-inline .input-group {
    width: 500px;
} */

@font-face {
    font-family: 'Salsa';
    src: url(../fonts/Salsa-Regular.ttf);
}

.main-container h1 {
    font-family: Salsa;
    font-size: 144px;
    color: #176560;
    margin: 0px;
    padding: 0px;
}

.main-container h6 {
    padding-bottom: 2%;
    font-size: 36px;
    font-family: Salsa;
    color: #97BB7D;
}

.btn-search {
    background-color: transparent;
    border: none;
    z-index: 100;
    position: absolute;
    right: 0.5rem;
    color: #aaa;
    width: 50px;
    font-size: 24px
}

.link {
    text-decoration: none;
    /* color: black; */
}

.btn-kategori {
    background-color: #184d47;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    transition: transform .2s;
}

.btn-kategori:hover {
    background-color: #0b3731;
    color: white;
    transform: scale(1.08);
}

@media only screen and (max-width: 992px) {
    .main-container h1 {
        font-size: 108px;
    }
    .main-container h6 {
        font-size: 32px;
    }
}

@media only screen and (max-width: 768px) {
    .main-container h1 {
        font-size: 72px;
    }
    .main-container h6 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 576px) {
    .main-container h1 {
        font-size: 56px;
    }
    .main-container h6 {
        font-size: 18px;
    }
}